/* SIZES */
$size-header: 80px;
$size-footer: 200px;
$size-logo-w: 80px;
$size-preloader: 50px;

/* PADDINGS AND MARGINS */
$padding-base: 20px;
$margin-base: 20px;
$padding-badge: 5px;
$padding-list: 5px 0;


/* COLORS */
$color-primary: rgb(75, 45, 67);
$color-primary-hover: rgb(87, 55, 78);
$color-primary-active: rgb(61, 36, 54);
$color-primary-disabled: rgba(95, 86, 93, 0.48);
$color-light: rgb(245, 243, 243);
$color-input-bg: rgba(255, 255, 255, 1);
$color-bg: rgba(239, 231, 217, 1);
$color-bg-disabled: rgba(240, 240, 240, 0.48);
$color-bg-ld: rgb(214, 204, 186);
$color-bg-secondary: rgba(152, 140, 149, 1);
$color-bg-secondary-hover: rgb(175, 158, 171);
$color-bg-secondary-active: rgb(138, 124, 134);
$color-header-text: rgba(86, 86, 86, 1);
$color-text: rgba(51, 51, 51, 1);
$color-text-secondary: rgb(143, 143, 143);
$color-text-contrast: rgb(236, 236, 236);
$color-text-contrast-disabled: rgba(236, 236, 236, 0.48);
$color-text-meta: rgb(192, 192, 192);
$color-link-secondary: rgb(0, 116, 197);
$color-border: rgba(0, 0, 0, 0.24);
$color-border-active: rgba(0, 0, 0, 0.48);
$color-border-hover: rgba(0, 0, 0, 0.24);
$color-border-focus: rgba(0, 0, 0, 0.24);
$color-error: rgb(187, 58, 58);
$color-success: rgb(58, 187, 112);

$color-selector: rgb(240, 240, 240);

/* FONTS */

$font-weight: 400;

@mixin fontHeader() {
  font-size: 20px;
  line-height: 40px;
  font-weight: 400;
  font-family: inherit;
  text-transform: uppercase;
}

@mixin fontBadge() {
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  font-family: inherit;
  text-transform: uppercase;
}

@mixin fontControlLabel() {
  font-size: 15px;
  line-height: 20px;
  font-weight: 700;
  font-family: inherit;
}

@mixin fontSize1() {
  font-size: 11px;
  line-height: 15px;
  font-weight: 300;
  font-family: inherit;
}

@mixin fontSize2() {
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  font-family: inherit;
}

@mixin fontSize3() {
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  font-family: inherit;
}

@mixin fontSize4() {
  font-size: 17px;
  line-height: 24px;
  font-weight: 400;
  font-family: inherit;
}

@mixin fontSize5() {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  font-family: inherit;
}

@mixin fontSize6() {
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  font-family: inherit;
}

/* LINKS */
@mixin linkSecondary() {
  color: $color-link-secondary;
  text-decoration: none;
}

/* OTHER */
$touch-size: 40;
$size-grid: 20px;
$border-radius: 5px;
$x0: 0px;
$x025: 1px;
$x05: 2px;
$x1: 4px;
$x2: 8px;
$x3: 12px;
$x4: 16px;
$x5: 20px;
$x6: 24px;
$x8: 32px;
$x10: 40px;
$x12: 48px;
$x15: 60px;
$x20: 80px;

@mixin borderRadiusBottom() {
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}